Componentes/SIAC-NET/SIAC-Datos/Web References/ws_sys_usuarios/sys_usuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TraerUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c_Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c_Password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="n_IdEmpresa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="n_EsUnificado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerUsuario" />
  </wsdl:message>
  <wsdl:message name="TraerUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="sys_usuariosSoap">
    <wsdl:operation name="TraerUsuario">
      <wsdl:input message="tns:TraerUsuarioSoapIn" />
      <wsdl:output message="tns:TraerUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sys_usuariosSoap" type="tns:sys_usuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerUsuario">
      <soap:operation soapAction="http://tempuri.org/TraerUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sys_usuariosSoap12" type="tns:sys_usuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerUsuario">
      <soap12:operation soapAction="http://tempuri.org/TraerUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sys_usuarios">
    <wsdl:port name="sys_usuariosSoap" binding="tns:sys_usuariosSoap">
      <soap:address location="http://localhost:8412/webservice/sistema/sys_usuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="sys_usuariosSoap12" binding="tns:sys_usuariosSoap12">
      <soap12:address location="http://localhost:8412/webservice/sistema/sys_usuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>